<h1><%= @food.name %></h1>
<p><%= @food.description %></p>
<p>Price: <%= @food.price %></p>
<a href ="/restaurants">
              <img src="/assets/delete-button.svg" style="margin-top:16px;"  height="20px" width="20px" alt="...">
            </a>
            <a href ="/restaurants">
              <img src="/assets/edit.svg" style="margin-top:16px; margin-left:4px;"  height="20px" width="20px" alt="...">
            </a>



<h2>Comments</h2>
<% @food.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with url: restaurant_food_comments_path(@restaurant, @food) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
