<div class="container">
  <h1>Add Restaurant</h1>

<%= form_with model: @restaurant do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

  <h1>List of Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">
      <a href="/restaurants/<%= restaurant.id %>">
        <div class="card mb-3" style="width: 18rem;">
          <img src="/assets/food.jpeg" class="card-img-top" alt="...">
          <div style="display: flex; flex-direction: row;">
            <div class="card-body">
              <h5 class="card-title"><%= restaurant.name %></h5>
              <p class="card-text"><%= restaurant.address %></p>
            </div>


            <%= link_to restaurant_path(restaurant), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } do%>
            <img src="/assets/delete-button.svg" style="margin-top:16px; margin-left:4px;"  height="20px" width="20px" alt="deleteButton">
            <%end%>

              <li><%= link_to "Edit", edit_restaurant_path(restaurant), data: {
                    turbo_method: :edit,
                  } %></li>



            <a href ="/restaurants">
              <img src="/assets/edit.svg" style="margin-top:16px; margin-left:4px;"  height="20px" width="20px" alt="...">
            </a>

          </div>
        </div>
      </a>
      </div>
    <% end %>
  </div>
</div>
