<div class="container">
  <div class="row">
    <h1><%= @restaurant.name %></h1>
    <h2>Food Items</h2>
    <% @foods.each do |food| %>
      <div class="col-md-4">
        <%= link_to [@restaurant,food] do %>
          <div class="card mb-3" style="width: 18rem;">
            <img src="/assets/food.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong><%= food.name %></strong></h5>
              <p class="card-text"><%= food.description %></p>
              <p class="card-text"><%= number_to_currency(food.price) %></p>

               <%= link_to [@restaurant,food], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } do %>

                <img src="/assets/delete-button.svg" style="margin-top:16px; margin-left:4px;"  height="20px" width="20px" alt="deleteButton">
              <%end%>






              <a href ="/restaurants">
               <img src="/assets/edit.svg" style="margin-top:16px; margin-left:4px;"  height="20px" width="20px" alt="...">
              </a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
